<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coop.grady.coop">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/grass_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AcceptListActivity"
            android:label="@string/title_activity_accept"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RosterListActivity"
            android:label="@string/title_activity_roster"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MyRequestsActivity"
            android:label="@string/title_activity_message_board"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AccountCreationActivity"
            android:label="@string/title_activity_account_creation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AcceptActivity"
            android:label="@string/title_activity_accept"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RosterActivity"
            android:label="@string/title_activity_roster"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>